<div class="login-container">
  <div class="logo-container">
    <span class="logo">Balkingo</span>
    <i class="fas fa-crown logo-crown"></i>
  </div>
  <div class="login-form-container">
    <h2 class="login-title">Login</h2>
    <form class="login-form" (ngSubmit)="onSubmit()">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Enter your email"
        class="form-input"
        required
      />
      <div *ngIf="email && !isValidEmail()" class="error-message">
        Molimo vas da unesete važeći email.
      </div>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Enter your password"
        class="form-input"
        required
      />
      <button type="submit" class="zapocni-btn" [disabled]="!isValidEmail()">Login</button>
    </form>
  </div>
</div>
